/* -------------------- Global styles -------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

:root {
  /* Farver */
  --primary-color: #1a1a1a;
  --secondary-color: #fb4524;
  --background-color: white;

  --accent-color-01: #ada4d9;
  --accent-color-02: #9cd5f8;
  --accent-color-03: #0064b8;
}

.montserrat {
  font-family: "Montserrat", serif;
}

h1 {
  font-size: 3.2rem;
}

body {
  font-family: "Montserrat", serif;
  background-color: var(--background-color);
  color: var(--primary-color);
}

/* ------------------------------ Header & menu ------------------ */
header {
  width: 100%;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  position: relative;
  transition: color 0.3s ease;
}

header img {
  padding-bottom: 10px;
}

nav {
  width: 100%;
  position: relative;
}

/* Burger menu */
.burger {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.burger .line {
  width: 100%;
  height: 3px;
  background-color: black;
}

/* Menu */
.menu {
  list-style: none;
  display: none;
  flex-direction: column;
  background-color: white;
  width: 100%;
  position: absolute;
  height: 20vh;
  left: 0;
  text-align: center;
}

.menu li {
  margin: 10px;
}

.menu li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-decoration: underline;
  color: black;
  font-size: 20px;
  font-weight: 800;
}

.menu li a:hover {
  font-style: italic;
}

.menu.active {
  display: flex;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: static;
  }

  .menu li {
    padding: 10px 0;
  }
}
/* ------- ------------------------- FORSIDE */

main {
  margin-top: 10rem;
  padding: 1rem;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-style: italic;
  /* font-size: 64px; */
}

.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.category a {
  text-decoration: underline;
  background-color: var(--accent-color-02);
  padding: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.category a:hover {
  transform: scale(1.02); /* Lidt zoom-effekt ved hover */
}

/* Produktliste site ------------ */

.button_container {
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--accent-color-01);
  text-transform: uppercase;
  text-decoration: underline;
  padding: 10px 30px;
  border-radius: 35px;
  align-items: center;
  color: var(--primary-color);
  font-weight: 900;
  font-size: 0.9rem;
  border: 2px solid var(--accent-color-01);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  margin-bottom: 1rem;
  gap: 10px;
}

button:hover {
  transform: scale(1.02);
}

/* button a:hover {
  background-color: transparent; 
  transform: none; 
} */

.grey {
  color: grey;
}

.logo {
  font-size: 3rem;
}
.red {
  color: var(--secondary-color);
}

.read_more {
  margin-top: 10px;
  color: var(--primary-color);
  font-weight: 800;
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
}

.read_more:hover {
  transform: scale(1.01);
}

.card {
  padding: 10px;
  grid-row: span 5;
  display: grid;
  grid-template-rows: subgrid;
  position: relative;
  background: white;
  border-radius: 10px;
  border: 3px solid var(--accent-color-02);
  gap: 5px;
  margin-bottom: 1rem;
}

.discount {
  position: absolute;
  font-weight: 600;
  color: var(--secondary-color);
  bottom: 10%;
  right: 10%;
  visibility: hidden;
  border-radius: 10px;
}

.product_info {
  position: relative;
}

.discount_produkt {
  position: absolute;
  bottom: 10%;
  right: 0%;
}

.soldout {
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(3, 3, 3);
  padding: 20px;
  color: white;
  border-radius: 10%;
  font-size: 16px;
  visibility: hidden;
}

.soldout-img {
  filter: blur(50px);
  /* opacity: 0.3;  */
}

.isOnSale {
  visibility: visible;
}

.isSoldOut {
  visibility: visible;
}

/* SOLO PRODUKT --------------------------------------- */

.product_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  border: 4px solid var(--accent-color-02);
}

.product_purchase {
  gap: 10px;
  padding: 30px;
  background-color: var(--accent-color-01);
  color: white;
  border-radius: 10px;
  line-height: 150%;
}

.btn {
  background-color: #ff6f00;
  text-align: center;
  border-radius: 30px;
  color: white;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #000000;
}

/* Styling af dropdown-menuen */
select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.indryk {
  text-indent: 20px;
}

.strik {
  text-decoration: line-through; /* Gennemstreger teksten */
  color: grey; /* Gør den grå */
}

.lagerstatus {
  text-indent: 20px;
  color: green;
  font-weight: bold;
}

.brødkrumme {
  color: grey;
  font-size: 0.8rem;
  text-decoration: underline;
}

/* --------- ------------------------- Media query */

@media (min-width: 600px) {
  .category_list_container /* kategorier */ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .product_list_container /* produktliste */ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .discount {
    /* Forstår ikke denne */
    bottom: 0;
    right: 0;
    padding: 5px;
  }

  /* Product */

  /* Layout for produktcontainer - solo produktet */
  .product_container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
  }

  /* Styling af produktinfo */
  .product_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    position: relative;
  }

  /* Styling af køb-sektion med en fremhævet baggrund */
  .product_purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Knap tilføjet til kurv */
  .btn {
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
  }
  .lagerstatus {
    font-size: 1.5rem;
  }

  .discount_produkt {
    bottom: 10%;
    right: 10%;
    padding: 15px;
    position: absolute;
  }

  .lagerstatus {
    font-size: 1.2rem;
  }

  /* .category a {
    padding: 40px;
    font-size: 1.2rem;
  } */
}

/* Media query */

@media (min-width: 1000px) {
  /* Generel tekststyling */

  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 1.4rem;
    padding: 10px;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    line-height: 1.6rem;
  }

  /* productlist -------- */

  /* .discount {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: lightgreen;
    padding: 15px;
    visibility: hidden;
  } */

  /* .soldout {
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey;
    padding: 20px;
    color: white;
    visibility: hidden;
  } */

  .tilbud {
    visibility: hidden;
  }

  .discount_produkt {
    bottom: 19%;
    right: 21%;
    padding: 30px;
    position: absolute;
    font-size: 2rem;
    visibility: hidden;
  }

  .soldout2 {
    color: rgb(198, 194, 194);
    font-weight: bold;
  }

  .in-stock {
    color: green; /* Grøn farve for på lager */
    font-weight: bold;
  }

  .isOnSale {
    visibility: visible;
  }

  .isSoldOut {
    visibility: visible;
  }

  /* Productlist - product  */

  /* Styling af produktinfo */
  .product_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    position: relative;
  }

  /* Styling af køb-sektion med en fremhævet baggrund */
  .product_purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Knap tilføjet til kurv */
  .btn {
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
  }
  .lagerstatus {
    font-size: 1.5rem;
  }
}
